body {

  font-family: "Mulish", sans-serif;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
  transition: opacity 0.75s, visibility 0.75s;

}


.loader--hidden {

  opacity: 0;
  visibility: hidden;

}

.loader::after {

  content: "";
  width: 10px;
  height: 10px;
  border: 2px dotted gray;
  border-top-color: blue;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
  margin-right: 150px;

}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

.loading-logo {

  margin-top: 20vh;
  margin-bottom: 20px;
  
}

.loading-logo-description {

 color: blue;

}

.loading-text {

  color: blue;
  margin-top: 40vh;
  font-size: smaller;
  margin-bottom: -15px;

}

.implify-header {

  border-top: 5px solid transparent;
  border-image: linear-gradient(to right, yellow, green, aqua, blue, purple, pink);
  border-image-slice: 1;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  
}

.collapsible {

  display: none;

}

.header-link {

  text-decoration: none;
  font-size: 60px;
  font-style: italic;
  background-image: linear-gradient(to right, yellow, green, aqua, blue, purple, pink);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;

}

.header-link:hover {

text-decoration: none;
background-image: linear-gradient(to right, yellow, green, aqua, blue, purple, pink);
color: transparent;
background-clip: text;
-webkit-background-clip: text;
}

.next-page-link {
  color: blue;
  text-decoration: none;
  padding-right: 5px;
  font-size: 20px;
}

.next-page-link:hover {

text-decoration: none;
}

.employees-container {

  border-top: 1px solid rgba(0,0,0,0.1);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  
}


.employees-container-detail{

  border-top: 1px solid rgba(0,0,0,0.1);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
    
}

img {

  height: 14vh;
  width: 14vh;
  float: left;
  shape-outside: square;
  padding-right: 10px;
}

.employee-box {
  
  width: 27vw;
  height: 16.05vh;
  margin: 20px;
  border-top: 1px solid rgba(0,0,0,0.1);
  border-left: 1px solid rgba(0,0,0,0.1);
  border-right: 1px solid rgba(0,0,0,0.1);
  
}

.employee-box:hover {

  cursor: pointer;
}

.employee-company {

  font-weight: lighter;
  margin-top: 5px;
  
  
}

.employee-name {

  font-size: 30px;
}

.employee-details {
height: 90vh;
width: 20vw;
float: right;
display: none;
margin-right: 100px;
border: 100px;
position: relative;

}

.employee-details-hidden {

opacity: 0;
visibility: hidden;
}

.details-img {

height: 30vh;
width: 30vh;
float: left;
margin: 5px;

}

.details-employee-name {

font-size: 40px;
float: left;
margin-top: 20px;
margin-left: 5px;
}

.details-employee-company {

font-size: 20px;
float: left;
margin-right: 300px;
margin-left: 5px;
margin-top: 10px;
font-weight: lighter;

}

.details-address-title {

font-size: 25px;
font-weight: bold;
float: left;
margin-right: 85px;
margin-left: 5px;
margin-top: 40px;

}

.details-employee-address, .details-employee-county {

font-weight: lighter;
float: left;
margin-right: 100px;
margin-left: 5px;

}

.details-employee-city {

font-weight: lighter;
float: left;
margin-right: 300px;
margin-left: 5px;

}

.share-button {

position: absolute;
bottom: 0;
margin-bottom: 110px;
margin-left: -10px;
border: none;
background: none;
font-weight: lighter;

}

.send-button {

position: absolute;
bottom: 0;
margin-bottom: 80px;
margin-left: -10px;
border: none;
background: none;
font-weight: lighter;

}

.call-button {

position: absolute;
bottom: 0;
margin-bottom: 50px;
margin-left: -10px;
border: none;
background: none;
font-weight: lighter;

}

.delete-button {

position: absolute;
bottom: 0;
margin-bottom: 20px;
margin-left: -10px;
border: none;
background: none;
color: red;
font-weight: bold;

}


  @media (max-width: 1400px) {

    .details-img {
  
      height: 25vh;
      width: 25vh;
  
    }
  
    .details-employee-name{
  
      font-size: 30px;

    }
  
    .employees-container-detail{
  
      grid-template-columns: repeat(2, 500px);
  
    }
  
    .employee-name {
  
      font-size: 23px;

    }
  
    img {
      height: 13.18vh;
      width: 13.18vh;

    }
  
    .employee-company {
  
      font-weight: 15px;
  
    }
  
    .details-employee-company {
  
      font-size: 17px;
  
    }
  
    .details-address-title {
  
      font-size: 20px;
      margin-top: 25px;
  
    }
  
    .details-employee-address, .details-employee-city, .details-employee-county {
  
      font-size: 14px;
  
    }
  
    .share-button, .delete-button, .send-button, .call-button {
  
      margin-left: 35px;
  
    }

   }

   @media (max-width: 480px) {

    .employees-container {

      grid-template-columns: 1fr;

    }
  
    .employee-box {
  
      height: auto;
      width: auto;

    }
  
    .next-page-link {
  
      display: none;
    }
  
    .employee-details{
  
      position: absolute;
      width: 100vw;
      height: 100vh;
  
    }
    .employees-container-detail{
  
      display: none;
    
    }
  
    .details-img {
  
      height: 65vw;
      width: 65vw;

    }


    .details-employee-address {

      margin-right: 120px;

    }

   .details-employee-name {

    font-size: 45px

   }

   .details-employee-company {

    font-size: 25px;

   }

   .details-address-title {

    font-size: 30px; 
  
   }

   .details-employee-address, .details-employee-city, .details-employee-county {

    font-size: 20px;

   }

   .share-button, .send-button, .call-button, .delete-button {

    font-size: 20px;
    font-weight: 450;

   }

   .collapsible {

    display: flex;
    position: relative;
    margin-left: 50px;
    
  }

  }